@model IEnumerable<ExamMvc.Web.Models.TicketListModel>

@{
    ViewBag.Title = "Search Results";
}

<h2>SearchResults</h2>
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/Tickets/Details/@item.Id" class="btn"> @Html.DisplayFor(modelItem => item.Title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
    </tr>
}

</table>
